{# @controller \App\Controllers\ColorGuideController::changeList #}
{# @var heading string #}
{# @var guide string #}
{# @var changes array #}
{# @var pagination \App\Pagination #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  <div id="content">
    <h1>{{ heading }}</h1>
    <p>Displaying {{ pagination.itemsPerPage }} items/page</p>
    <div class='align-center button-block'>
      <a class='btn link typcn typcn-arrow-back' href="/cg/{{ guide }}">Return to Guide</a>
    </div>
    <div class="responsive-table">
      {{ pagination }}
      {% include 'colorguide/_major_changes.html.twig' %}
      {{ pagination }}
    </div>
  </div>
  {{ export_vars({
    'TAG_TYPES_ASSOC': constant('App\\Tags::TAG_TYPES'),
  }) }}
{% endblock %}
