{# @controller \App\Controllers\ColorGuideController::fullList #}
{# @var is_staff bool #}
{# @var guide string #}
{# @var ordering string #}
{# @var appearances \App\Models\Appearance[] #}
{# @var max_upload_size string #}
{# @var hex_color_pattern \App\RegExp #}
{# @var full_list string #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  {% set eqg = guide == 'eqg' %}
  {% set eqg_path = eqg ? '/eqg' : '' %}
  <div id="content" class="section-container">
    <h1>Complete {{ constant('\App\\CGUtils::FULL_LIST_NOUN')[guide] }} List</h1>
    <p>Sorted <select id="sort-by" name="sort_by" data-base-url="/cg{{ eqg_path }}/full">
        {% for value, name in constant('App\\Controllers\\ColorGuideController::FULL_LIST_ORDER') %}
          <option value='{{ value }}'{{ sort_by == value ? ' selected' : '' }}>{{ name }}</option>
        {% endfor %}
      </select></p>

    <div class='align-center button-block'>
      <a class='btn link typcn typcn-arrow-back' href="/cg/{{ guide }}">Return to Guide</a>
      {% if permission('staff') %}
        <button class='darkblue typcn typcn-arrow-unsorted' id="guide-reorder"{{ sort_by != 'relevance' ? ' disabled' : '' }}>Re-order</button>
        <button class='red typcn typcn-times hidden' id="guide-reorder-cancel">Cancel</button>
      {% endif %}
      <a class='btn link typcn typcn-warning' href="/cg/{{ guide }}/changes">Major Changes</a>
    </div>

    {{ full_list }}
  </div>

  {{ export_vars({ 'GUIDE': guide }) }}
  {% if is_staff %}
    {{ export_vars({
      'TAG_TYPES_ASSOC': constant('App\\Tags::TAG_TYPES'),
      'MAX_SIZE': max_upload_size,
      'HEX_COLOR_PATTERN': hex_color_pattern,
    }) }}
  {% endif %}
{% endblock %}
