{# @controller \App\ShowHelper::getSidebarVoting #}
{# @var current_episode \App\Models\Show #}
{# @var signed_in boolean #}
{% set thing = current_episode.type %}
{% if not current_episode.hasAired -%}
  <p>Voting will start {{ time_tag(current_episode.get_willair) }}, after the {{ thing }} aired.</p>
{%- else -%}
  {% set score = current_episode.get_score %}
  {% set score_percent = (((score/5)*1000) | round)/10 -%}
  {% set has_score = score is not empty and score != 0 %}
  <p>{% if has_score -%}
      This {{ thing }} is rated {{ score }}/5 <a class='typcn typcn-chart-pie detail' title='Details'></a>
    {%- else -%}
      Nopony voted yet.
    {%- endif %}</p>
  {% if has_score %}
    <img src='/muffin-rating?w={{ score_percent }}' id='muffins' alt='muffin rating svg'>
  {% endif %}
  {# @var user_vote \App\Models\ShowVote #}
  {%- set user_vote = current_episode.userVote -%}
  {%- if user_vote is empty %}
    <br><p>How would <em>you</em> rate the {{ thing }}?</p>
    {% if signed_in -%}
      <button class='blue rate typcn typcn-star'>Cast your vote</button>
    {%- else -%}
      <p><em>Sign in above to cast your vote!</em></p>
    {%- endif %}
  {%- else -%}
    <p>Your rating: {{ make_plural('muffin', user_vote.vote, constant('PREPEND_NUMBER')) }}</p>
  {%- endif %}
{%- endif %}
