{# @controller \App\Controllers\ShowController::index #}
{# @var export array #}
{# @var episodes_pagination string #}
{# @var show_pagination string #}
{# @var episodes \App\Models\Show[] #}
{# @var movies \App\Models\Show[] #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  {% set is_staff = permission('staff') %}
  <div id="content">
    <div class="sidebyside">
      <h1>TV Episodes</h1>
      {% if is_staff %}
        <div class="actions button-block">
          <button id="add-episode" class="green typcn typcn-plus">Add Episode</button>
        </div>
      {% endif %}
      {{ episodes_pagination }}
      {% if episodes is not empty or (episodes is empty and is_staff) %}
        <table id="episodes">
          <thead>
          <tr>
            <th class="mobile-hide">Season</th>
            <th class="mobile-hide">Episode</th>
            <th class="desktop-hide">&numero;</th>
            <th>Title & Air Date</th>
          </tr>
          </thead>
          <tbody>{% include 'show/_table_body.html.twig' with { shows: episodes, are_episodes: true } %}</tbody>
        </table>
      {% endif %}
      {{ episodes_pagination }}
    </div>
    <div class="sidebyside">
      <h1>Movies, Shorts &amp; Specials</h1>
      {% if is_staff %}
        <div class="actions button-block">
          <button id="add-show" class="green typcn typcn-plus">Add Show Entry</button>
        </div>
      {% endif %}
      {{ show_pagination }}
      {% if movies is not empty or (movies is empty and is_staff) %}
        <table id="movies">
          <thead>
          <tr>
            <th><span class="mobile-hide">Overall </span>#</th>
            <th>Title &amp; Air Date</th>
          </tr>
          </thead>
          <tbody>{% include 'show/_table_body.html.twig' with { shows: movies, are_episodes: false } %}</tbody>
        </table>
      {% endif %}
      {{ show_pagination }}
    </div>
  </div>
  {% if export is defined %}
    {{ export_vars(export) }}
  {% endif %}
{% endblock %}
