{# @controller \App\ShowHelper::loadPage #}
{# @controller \App\Controllers\PostController::share #}
{# @var poster \App\Models\DeviantartUser #}
{# @var current_episode \App\Models\Show #}
{# @var prev_episode \App\Models\Show #}
{# @var next_episode \App\Models\Show #}
{% extends "layout/base.html.twig" %}

{% block content %}
  <div id="content">
    {% if current_episode is not defined or current_episode is empty %}
      <h1>There's nothing here yet&hellip;</h1>
      <p>&hellip;but there could be!</p>

      {% if permission('staff') %}
        <div class="notice info">
          <label>No episodes found</label>
          <p>To create requests and reservations, an episode must be added to the database first. Head on over to the <a href='/show'>Show</a> page and add one now!</p>
        </div>
      {% endif %}
    {% else %}
      {% set reverse_btns = user_pref('ep_revstepbtn') %}
      {% if reverse_btns %}
        {% set tmp = prev_episode %}
        {% set prev_episode = next_episode %}
        {% set next_episode = tmp %}
      {% endif %}
      <div class="heading-wrap">
        <div class="prev-ep">
          {%- if prev_episode is not empty -%}
            <div>
              <a href="{{ prev_episode.toURL }}" class="btn link ep-button typcn typcn-media-rewind">
                <span class="typcn typcn-media-rewind"></span>
                <span>{{- cutoff(prev_episode.get_short_title, constant('App\\ShowHelper::TITLE_CUTOFF')) -}}</span>
              </a>
            </div>
          {%- else -%}
            &nbsp;
          {%- endif -%}
        </div>
        <div class="main">
          <div>
            <h1>{{ heading | escape }}</h1>
            <p>Vector Requests & Reservations</p>
            {% if permission('staff') %}
              <p class="added-by"><em>{{ constant('App\\ShowHelper::VALID_TYPES')[current_episode.type] }} added by {{ poster.toAnchor }} {{ time_tag(current_episode.created_at) }}</em></p>
            {% endif %}
          </div>
        </div>
        <div class="next-ep">
          {%- if next_episode is not empty -%}
            <div>
              <a href="{{ next_episode.toURL }}" class="btn link ep-button typcn typcn-media-fast-forward">
                <span>{{ cutoff(next_episode.get_short_title, constant('App\\ShowHelper::TITLE_CUTOFF')) }}</span>{#
                #}<span class="typcn typcn-media-fast-forward"></span>
              </a>
            </div>
          {%- else -%}
            &nbsp;
          {%- endif -%}
        </div>
      </div>
      <section class="about-res">
        <h2>What Vector Reservations Are{% if permission('staff') %}
          <button class="blue typcn typcn-pencil" id="edit-about_reservations">Edit</button>{% endif %}</h2>
        {{ global_setting('about_reservations') }}
      </section>
      <section class="rules">
        <h2>Reservation Rules{% if permission('staff') %}
          <button class="orange typcn typcn-pencil" id="edit-reservation_rules">Edit</button>{% endif %}</h2>
        {{ global_setting('reservation_rules') }}
      </section>
      {% if current_episode.notes is not empty %}
        <section class="notes">
          <h2>Notes from the staff</h2>
          <pre>{{ current_episode.notes }}</pre>
        </section>
      {% endif %}
      {% include 'show/_related_appearances.html.twig' %}
      {% if permission('staff') %}
        <section class="admin">
          <h2>Administration area</h2>
          <p class="align-center">
            <button id="edit-show" class="typcn typcn-pencil large darkblue">Metadata</button>
            <button id="cg-relations" class="typcn typcn-pencil large darkblue">Guide relations</button>
          </p>
        </section>
        {{ export_vars({ 'showTypes': constant('App\\ShowHelper::VALID_TYPES') }) }}
      {% endif %}
      {% include 'show/_reservations.html.twig' with { 'arranged': current_episode.reservations, lazyload: true } %}
      {% include 'show/_requests.html.twig' with { 'arranged': current_episode.requests, lazyload: true } %}
      {{ export_vars({
        showId: current_episode.id,
        showType: current_episode.type,
      }) -}}
      {% if username_regex is defined and username_regex is not empty %}
        {{ export_vars({ usernameRegex: username_regex }) }}
      {% endif %}
    {% endif %}
  </div>

  {{ export_vars({
    isEpisodePage: true,
  }) -}}
  {% if ep_title_regex is defined %}
    {{ export_vars({ episodeTitleRegex: ep_title_regex }) -}}
  {% endif %}
  {# @var linked_post \App\Models\Post|null #}
  {% if linked_post is defined and linked_post is not empty %}
    {{ export_vars({ linkedPostURL: linked_post.toURL }) -}}
  {% endif %}
{% endblock %}

{% block widgets %}
  {% if current_episode is defined and current_episode is not empty %}
    <section id="voting">
      <h2>{{ constant('App\\ShowHelper::VALID_TYPES')[current_episode.type] }} rating</h2>
      {% include "show/_sidebar_voting.html.twig" with { current_episode: current_episode, signed_in: signed_in } only %}
    </section>
  {% endif %}
{% endblock %}
