{# @var color_group \App\Models\ColorGroup #}
{# @var all_colors \App\Models\Color[][] #}
{# @var is_owner bool #}
{# @var type string #}
{# @var compact bool #}
{# @var extra_info bool #}
{% apply spaceless %}
  {% macro color_square(c, compact) %}
    {# @var c \App\Models\Color #}
    {# @var compact bool #}
    {% if c.hex is empty %}
      <span class="color" title="{{ c.label }}"></span>
    {% else %}
      <span style="background-color:{{ c.hex }}" class="color valid-color"{% if compact %} title="{{ c.label }}"{% endif %}>{{ c.hex }}</span>
    {% endif %}
  {% endmacro %}
  {% import _self as cg %}
  {% set is_staff = permission('staff') %}
  {% set owner_or_staff = is_owner or is_staff %}
  <li id="cg-{{ color_group.id }}" class="color-group {{ type }}">
    {% set colors = all_colors is defined and  all_colors[color_group.id] is defined ? all_colors[color_group.id] : color_group.colors %}
    {% if compact %}
      <span class="cat">{{ color_group.label | escape }}:</span>
      {% if colors is not empty %}
        <div class="color-list">
          {% for c in colors %}
            {# @var c \App\Models\Color #}
            {{ cg.color_square(c, compact) }}
          {% endfor %}
        </div>
      {% endif %}
    {% else %}
      <span class="cat">
			<span>{{ color_group.label | escape }}</span>
			{% if owner_or_staff %}
        <span class="admin">
				<button class="darkblue typcn typcn-pencil edit-cg"><span>Edit</span></button>
				<button class="red typcn typcn-trash delete-cg"><span>Delete</span></button>
			</span>
      {% endif %}
		</span>

      {% for c in colors %}
        {# @var c \App\Models\Color #}
        {% set has_detail = extra_info and c.hex is not empty %}
        <div class="color-line{{ has_detail ? '' : ' no-detail' }}">
          {{ cg.color_square(c, compact) }}
          <span>
					<span class="label">{{ c.label | escape }}</span>
					{% if has_detail %}
					<span class="hidden">: </span>
					<span class="ext">{{ c.hex }} • {{ hex2rgb(c.hex) }}</span>
					{% else %}
				</span>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </li>
{% endapply %}
