{# @controller App\COntrollers\PersonalGuideController::pointHistory #}
{# @var entries \App\Models\PCGSlotHistory[] #}
{# @var pagination \App\Pagination #}
{# @var user \App\Models\User #}
{# @var is_owner bool #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  <div id="content">
    <h1>{{ heading }}</h1>
    <p>Displaying {{ pagination.itemsPerPage }} items/page</p>

    <div class="align-center button-block">
      <a href="{{ user.toURL }}" class="btn link typcn typcn-user">Profile page</a>
      {% if permission('developer') %}
        <button class="orange typcn typcn-calculator" id="recalc-button">Recalculate</button>
      {% endif %}
    </div>
    {{ pagination }}
    {{ pcg_slot_history }}
    {{ pagination }}
  </div>
  {{ export_vars({
    'username': user.name,
    'userId': user.id,
  }) }}
{% endblock %}
